<div class="container">
  <div class="row main" #panel>
    <form class="form-horizontal" #f="ngForm">
      <div class="form-group col-sm-12">
        <label class="control-label col-sm-2" for="firstName">Project:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" maxlength="100" id="projectName" name="projectName" [(ngModel)]="project.projectName"
            required placeholder="Enter Project Name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2"></label>
        <div class="col-sm-4">
          <label class="checkbox-inline">
            <input type="checkbox" #showDateCheckbox (change)="onDateSelected($event)">Set Start and End Date</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2"></label>

        <div class="col-sm-2">
          <label class="control-label col-sm-2" for="projectStartDate">Start&nbsp;Date</label>
          <input type="date" class="form-control" id="projectStartDate" [readonly]="!enableDate" [ngModel]="project.startDate |date:'yyyy-MM-dd'"
            (ngModelChange)="project.startDate=$event" name="projectStartDate" required placeholder="Enter start date">
        </div>
        <div class="col-sm-2">
          <label class="control-label col-sm-2" for="projectEndDate">End&nbsp;Date</label>
          <input type="date" class="form-control" [ngModel]="project.endDate |date:'yyyy-MM-dd'" (ngModelChange)="project.endDate=$event"
            id="projectEndDate" [readonly]="!enableDate" name="projectEndDate" required placeholder="Enter end date">
        </div>

      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="taskpriority">Priority:(0-25)</label>
        <div class="col-sm-4 slidecontainer">
          <input type="range" min="1" max="25" [(ngModel)]="project.priority" required class="slider" id="rangePriority" name="rangePriority">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="taskStartDate">Manager :</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" maxlength="100" id="Manager" name="Manager" [ngModel]="managerName" readonly required
            placeholder="Select Manager Name">
        </div>
        <div class="col-sm-1">
          <a class="btn btn-s" #showmodalClick (click)="onSearchManager()" id="showmodal" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-search"></span>Search</a>

        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 float-right">
          <button type="submit" *ngIf="showAdd" [disabled]="onValidate()" (click)="onAddProject()" class="btn btn-primary ">Add</button> &nbsp;
          <button type="button" class="btn btn-warning " (click)="onResetProject()">Reset</button>
        </div>
      </div>
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="closeModal()" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Search Manager</h4>
            </div>
            <div class="modal-body">
              <div class="form-group col-sm-5">
                <div>
                  <input type="text" class="form-control" style="width: 100%" id="userSearch" name="userSearch" placeholder="Search" [(ngModel)]="userSearch">
                </div>
              </div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>User Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Employee Id</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let user of users | 
                     usersSearch: userSearch">
                  <tr>
                    <td>{{user.userId}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.employeeId}}</td>
                    <td class="text-center">
                      <a class='btn btn-info btn-xs' data-dismiss="modal" (click)="onSelectManager(user)">
                        <span class="glyphicon glyphicon-edit"></span>Select</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="closeModal()" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      <div class="alert alert-success" *ngIf="success">
        <strong>Success!</strong> {{results}}
      </div>
      <div class="alert alert-danger" *ngIf="failure">
        <strong>Failure!</strong> {{results}}
      </div>
      <br>
    </form>
    <hr style="border-color:#337ab7">
    <app-project-view [projectViews]="projectsToView" (projectSelectionChanged)="projectSelectionChangedHandler($event)"></app-project-view>
  </div>
</div>