<div class="container">
  <div class="row main" #panel>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-1" for="taskStartDate">Project :</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" maxlength="100" id="ProjectName" name="ProjectName" [ngModel]="projectName" readonly
            required placeholder="Select Project Name">
        </div>
        <div class="col-sm-1">
          <a class="btn btn-s" #showModalProject (click)="onSearchProject()" id="showProjectModal" data-toggle="modal" data-target="#projectModal">
            <span class="glyphicon glyphicon-search"></span>Search</a>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label" style="width: 100%">Sort Task By: &nbsp;</label>
        </div>
        <div class="form-group col-sm-5" style="margin-bottom: 10px;">
          <a class='btn btn-info btn-md' (click)="sortTask('startDate')">Start Date</a>&nbsp;
          <a class='btn btn-info btn-md' (click)="sortTask('endDate')">End Date</a>&nbsp;
          <a class='btn btn-info btn-md' (click)="sortTask('priority')">Priority</a>&nbsp;
          <a class='btn btn-info btn-md' (click)="sortTask('activeStatus')">Completed</a>&nbsp;
        </div>
      </div>

    </form>
    <br />
    <p class="alert alert-danger" *ngIf="showError">{{results}}</p>
    <div class="row col-md-12 col-md-offset-0">
      <table class="table table-hover">
        <tbody *ngFor="let taskDetail of taskDetailsFiltered | taskmgrSort:path:order">
          <tr>
            <th>Task</th>
            <th>Parent</th>
            <th>Priority</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
          </tr>
          <tr>
            <td>{{taskDetail.name}}
              <input type="hidden" [(ngModel)]="taskDetail.id" #taskId>
            </td>
            <td>{{taskDetail.parentName}}</td>
            <td>{{taskDetail.priority}}</td>
            <td>{{taskDetail.startDate|date:'dd/MM/yyyy'}}</td>
            <td>{{taskDetail.endDate|date :'dd/MM/yyyy'}}</td>
            <td class="text-center">
              <a class='btn btn-info btn-xs' *ngIf="taskDetail.activeStatus" (click)="edit(taskDetail.id)">
                <span class="glyphicon glyphicon-edit"></span> Edit</a>
              <a class='btn btn-info btn-xs' disabled *ngIf="taskDetail.endTask">
                <span class="glyphicon glyphicon-edit"></span> Edit</a> &nbsp;
              <a (click)="endTask(taskDetail.id)" *ngIf="taskDetail.activeStatus" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span> End Task</a>
              <a disabled *ngIf="taskDetail.endTask" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span> End Task</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="projectModal" class="modal fade" role="dialog">
      <div class="modal-dialog">      
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="closeModal()" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Search Project</h4>
          </div>
          <div class="modal-body">
            <div class="form-group col-sm-5">
              <div>
                <input type="text" class="form-control" style="width: 100%" id="projectSearch" name="projectSearch" placeholder="Search"
                  [(ngModel)]="projectSearch">
              </div>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Project Id</th>
                  <th>Project Name</th>
                  <th>Priority</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                </tr>
              </thead>
              <tbody *ngFor="let project of projects | 
                     projectNameSearch: projectSearch">
                <tr>
                  <td>{{project.projectId}}</td>
                  <td>{{project.projectName}}</td>
                  <td>{{project.priority}}</td>
                  <td>{{project.startDate|date :'dd/MM/yyyy'}}</td>
                  <td>{{project.endDate|date :'dd/MM/yyyy'}}</td>
                  <td class="text-center">
                    <a class='btn btn-info btn-xs' data-dismiss="modal" (click)="onSelectProject(project)">
                      <span class="glyphicon glyphicon-edit"></span>Select</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeModal()" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <div class="alert alert-success" *ngIf="success">
      <strong>Success!</strong> {{results}}
    </div>
    <div class="alert alert-danger" *ngIf="failure">
      <strong>Failure!</strong> {{results}}
    </div>
  </div>
</div>