
<div class="container">
  <div class="row main" #panel>
  <form class="form-horizontal" #f="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="firstName">First Name:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" maxlength="50" id="firstName" name="firstName" 
         [(ngModel)]="user.firstName" required placeholder="Enter First Name">
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="taskpriority">Last Name:</label>      
        <div class="col-sm-4">       
            <input type="text" class="form-control" maxlength="50" id="lastName" name="lastName" 
            [(ngModel)]="user.lastName" required placeholder="Enter Last Name">
        </div>      
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="taskStartDate">Employee Id:</label>
          <div class="col-sm-2"> 
              <input type="number" class="form-control" id="employeeId" onKeyPress="if(this.value.length==6) return false;"  name="employeeId" 
              [(ngModel)]="user.employeeId" required placeholder="Enter Employee Id">      
          </div>
        </div>      
    <div class="form-group"> 
      <div class="col-sm-2"></div>
      <div class="col-sm-4 float-right" >
        <button type="submit" *ngIf ="showAdd"  [disabled]="!f.valid" (click)="onAddUser()" class="btn btn-primary ">Add</button> &nbsp;
        <button type="submit" *ngIf ="showUpdate" [disabled]="!f.valid" (click)="onUpdateUser()" class="btn btn-primary ">Update</button> &nbsp;
        <button type="button" class="btn btn-warning "  (click)="onResetUser()">Reset</button>
      </div>
    </div>
    <div class="alert alert-success" *ngIf="success">       
        <strong>Success!</strong> {{results}}
      </div>
      <div class="alert alert-danger" *ngIf="failure">         
          <strong>Failure!</strong> {{results}}
        </div>
        <br>
  </form>
  <hr style="border-color:#337ab7">
  <app-user-view [users]="updatedUsers" (userSelectionChanged) = "userSelectionChangedHandler($event)"></app-user-view>
</div>
</div>